# ${pluginName} Rundeck Plugin

This is a ${providedService} plugin.

## Build

* Using gradle
```
gradle clean build
```

* Using make

```
make clean install
```

## Install

```
cp build/libs/${sanitizedPluginName}.zip \$RDECK_BASE/libext
```