name: ${pluginName}
rundeckPluginVersion: 2.0
author: Rundeck Dev
description: Describe your plugin here
rundeckCompatibilityVersion: 3.x
targetHostCompatibility: unix
license: Apache 2.0
tags: script,${providedService}
date: ${currentDate}
version: 1.0.0
providers:
    - name: ${sanitizedPluginName}
      service: ${providedService}
      title: ${pluginName}
      description: The description of your plugin
      plugin-type: script
      script-interpreter: /bin/bash
      script-file: exec