package com.plugin.${javaPluginClass.toLowerCase()};

/**
 * If other functions are required for purposes of modularity or clarity, they should either be added to a Util Class
 * (if generic enough), or a PluginHelper Class that is accessible to the Plugin Class.
 */
class Constants {
    public static final String BASE_API_URL = "http://localhost:4440/api/"
    public static final String API_VERSION = "41"
}